.alumettes{
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    width: 500px;
    min-height: 150px;
    
}

.alumettes > img{
    width: 30px;
    height: auto;
    display: inline;
}