<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

<h1>
   <div *ngIf="lenght==0">
      <button (click)="constructor()">Recommencer le jeu </button> 
      </div>
</h1>

<div *ngIf="lenght!=0">
Tour de joueur : <span *ngIf="tour"> 1 </span> <span *ngIf="!tour"> 2 </span>
</div>

<div *ngIf="lenght==0">
  <h1>
    Joueur  <span *ngIf="tour"> 2 </span> <span *ngIf="!tour"> 1 </span> a gagné la partie </h1>
    </div>

<div class="alumettes"  >
  <img *ngFor="let  a of [].constructor(lenght)"  src="/assets/match.png"/>
</div>
<div *ngIf="lenght!=0">
<button (click)="enlever(1)">1</button> <button (click)="enlever(2)">2</button> <button (click)="enlever(3)">3</button>
</div>
</div>
